<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    @RenderBody()
    <br />
    <ul>
        <li><a href = @Url.Action("Agendar", "Agendamento")> Agendar</a></li>
        <li><a href = @Url.Action("Listar", "Agendamento")> Listar Agendamentos</a></li>
        <li><a href = @Url.Action("Listar", "Pontos")> Listar Pontos </a></li>
    </ul>
</body>